# Documentation and examples for what this does:
#
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This file is a list of rules, with the last rule being most specific
# All of the people (and only those people) from the matching rule will be notified

# Default rule: anything that doesn't match a more specific rule goes here
# These owners are the maintainers and approvers of this repo
*       @radius-project/maintainers-docs @radius-project/approvers-docs

# Ownership for dependency-related files. Allow the on-call team to approve dependency version updates (e.g., from Dependabot PRs)

# Go module files
**/go.mod   @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
**/go.sum   @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs

# Node.js npm configuration
**/package.json       @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
**/package-lock.json  @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
/.node-version        @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs

# GitHub Actions workflows
.github/workflows/*.yaml  @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
.github/workflows/*.yml   @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs

# GitHub config files (dependabot, etc.)
.github/*.yaml  @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
.github/*.yml   @radius-project/on-call @radius-project/maintainers-docs @radius-project/approvers-docs
